.container-profile,
.container-create-profile,
.container-player-profile-update,
.container-player-list {
  -webkit-box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;

  padding: 25px;
  margin-top: 50px;
}
.card {
  box-shadow: 5px 5px 5px 0px rgba(73, 156, 73, 0.3);
  border-radius: 5px;
  padding: 5px;
}
